html, body {
  margin: 0;
  padding: 0;
  background: #333;    
  color: #AAA;
  position: relative;
}

canvas {
  width: 800px;
  height: 600px;  
  display: block;
  margin: 3em auto;
}

main {
 margin: 1em; 
}

#react {
  position: absolute;
  width: 800px;
  height: auto;
  background: transparent;
  top: 0;
  left: 5em;
  color: yellowgreen;
  pointer-events: none;
}