html, body {
  margin: 0;
  padding: 0;
  background: #333;    
  position: relative;
}

.game-view {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  canvas {
    width: 100%;
    height: 100%;
  }  
}

#nebula-inspector {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

// @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap'); #nebula-inspector { font-family: 'Orbitron', sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap'); #nebula-inspector { font-family: 'Jura', sans-serif; }

.game-size-mock {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 800px;
  height: 600px;
  background: transparent;
  margin: 3em auto;
}

.main-menu--wrapper {
  background: transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
  align-self: center;
  margin-top: 300px;
  z-index: 1;
  user-select: none;
}

.main-menu--button {
  text-align: center;
  color: yellowgreen;
  font-size: 1.8em;  
  line-height: 1.6em;
  width: 400px;  

  pointer-events: all;
  
  cursor: pointer;
 
  &:hover {
    background: rgba(0,0,0,.3);
    color: rgb(240, 252, 215);
  }
}

pre {
  color: rgb(236, 248, 221);
  position: absolute;
  top: 1em;
  left: 1em;
  width: calc(100% - 2em);
  height: 100%;
  overflow: auto;
}

.score-board {
  pointer-events: none;
  user-select: none;
  color: yellowgreen;
  font-size: 1.8em;  
  line-height: 1.6em;
  z-index: 1;
  text-align: left;
  margin-left: 35%;
  width: 100%;  
}